// ==========================================================================
//  Fonts
// ==========================================================================

$sans-font-fallbacks:                 helvetica, arial, sans-serif;
$exo2-font: "exo2", $sans-font-fallbacks;

// ==========================================================================
//  Color declarations
// ==========================================================================

$color-white:                         #FFFFFF;
$color-offwhite:                      #F1F1F1;

$color-black:                         #000000;

$color-grey-lighter:                  #CACACA;
$color-grey-light:                    #8d8d92;
$color-grey-medium:                   #565656;
$color-grey-dark:                     #2D2D2D;

// ==========================================================================
//  Color implementations
// ==========================================================================

$color-body-copy:                     $color-grey-dark;
