<link rel="prefetch" href="<%= url_for 'assets/atlas.json' %>">
<link rel="prefetch" href="<%= url_for 'assets/atlas.png' %>">
<link rel="prefetch" href="<%= url_for 'assets/preload.png' %>">

<div class="canvas_container">
</div>
